<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangtiansoft.KingDarts.persistence.dao.record.SigninMapper">
  <resultMap id="BaseResultMap" type="com.wangtiansoft.KingDarts.persistence.entity.Signin">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="useraccount" jdbcType="VARCHAR" property="useraccount" />
    <result column="signin_date" jdbcType="TIMESTAMP" property="signin_date" />
    <result column="signin_day" jdbcType="INTEGER" property="signin_day" />
    <result column="signin_point" jdbcType="INTEGER" property="signin_point" />
  </resultMap>

    <select id="querySigninList" resultType="map">
        SELECT
            ds.`id`, ds.`user_id`, ds.`useraccount`, ds.`signin_date`, ds.`signin_day`, ds.`signin_point`
        FROM `darts_signin` as ds
        <if test="orderSql != null and orderSql != ''">
            ORDER BY ds.${orderSql}
        </if>
    </select>
</mapper>