<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangtiansoft.KingDarts.persistence.dao.master.UserprotocolMapper">
  <resultMap id="BaseResultMap" type="com.wangtiansoft.KingDarts.persistence.entity.Userprotocol">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="htmlurl" jdbcType="VARCHAR" property="htmlurl" />
    <result column="maccount" jdbcType="VARCHAR" property="maccount" />
    <result column="mnames" jdbcType="VARCHAR" property="mnames" />
    <result column="update_time" jdbcType="TIMESTAMP" property="update_time" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="prcontent" jdbcType="LONGVARCHAR" property="prcontent" />
    <result column="is_delete" jdbcType="TINYINT" property="is_delete" />
    <result column="is_publish" jdbcType="TINYINT" property="is_publish" />
  </resultMap>

    <select id="queryUserprotocolList" resultType="map">
        SELECT
            du.`id`,du.`title`, du.`prcontent`, du.`htmlurl`, du.`maccount`, du.`mnames`, du.`update_time`, du.`create_time`,
            du.`is_delete`,du.`is_publish` 
        FROM `darts_userprotocol` as du
        WHERE 1=1
            <if test="mnames != null and mnames != ''">
                AND du.mnames like concat('%', #{mnames}, '%')
            </if>
            and du.is_delete=0 
        <if test="orderSql != null and orderSql != ''">
            ORDER BY du.${orderSql}
        </if>
    </select>
</mapper>